#home {
    height: 75vh;
    padding-top: 120px;
    h2 {
        color: #11bb77;
    }
    h5 {
        font-weight: normal;
        color: #556666;
    }
    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            display: block;
            margin: 0 10px;
            color: #11bb77;
            min-width: 120px;
            padding: 10px 0;
            text-align: center;
            text-decoration: none;
            border: 3px solid #11bb77;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
            span {
                display: block;
                margin-top: 5px;
                font-size: 24px;
                font-weight: 500;
                color: #556666;
            }
            &:hover {
                background-color: #11bb77;
                color: #fff;
                span {
                    color: #fff;
                }
            }
        }
    }
}