#resume {
    .actions {
        display: flex;
        padding: 20px 0;
        justify-content: center;
    }
    .breadcrumb {
        margin-top: 30px;
        flex-wrap: wrap;
        padding: 0.75rem 1rem;
        margin-bottom: 1rem;
        list-style: none;
        background-color: #e9ecef;
        border-radius: 0.25rem;
        a {
            text-decoration: none;
            color: #424549;
        }
        .active {
            span {
                color: #11bb77;
            }
        }
    }
    .field {
        display: flex;
        justify-content: flex-start;
        padding: 5px 0;
        label {
            min-width: 160px;
            color: #a7a8a8;
        }
    }
    .rejected {
        color: red;
    }
    .approved {
        color: #11bb77;
    }
}